<footer class="pxp-main-footer mt-100">
    <div class="pxp-main-footer-top pt-5" style="background-color: var(--pxpMainColorLight);">
        <div class="pxp-container">
            <div class="row">
                <div class="col-lg-6 col-xl-5 col-xxl-4 mb-4">
                    <div class="pxp-footer-logo">
                        <a href="/" class="pxp-animate">
                            <svg  width="100" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 149.5 79.1" style="enable-background:new 0 0 149.5 79.1;" xml:space="preserve">
                                <style type="text/css">
                                    .st0{fill:#1384DA;}
                                </style>
                                <path class="st0" d="M18.7,16.4c-10,0-18.1,8.1-18.1,18.1c0,10,8.1,18.1,18.1,18.1c10,0,18.1-8.1,18.1-18.1  C36.8,24.5,28.7,16.4,18.7,16.4z M18.7,43.7c-5.1,0-9.2-4.1-9.2-9.2c0-5.1,4.1-9.2,9.2-9.2c5.1,0,9.2,4.1,9.2,9.2  C27.9,39.6,23.8,43.7,18.7,43.7z"/>
                                <path class="st0" d="M72,16.4c-10,0-18.1,8.1-18.1,18.1c0,10,8.1,18.1,18.1,18.1c10,0,18.1-8.1,18.1-18.1C90.1,24.5,82,16.4,72,16.4  z M72,43.7c-5.1,0-9.2-4.1-9.2-9.2c0-5.1,4.1-9.2,9.2-9.2c5.1,0,9.2,4.1,9.2,9.2C81.2,39.6,77.1,43.7,72,43.7z"/>
                                <path class="st0" d="M48,0.7h-5.3c-1,0-1.8,0.8-1.8,1.8v48c0,1,0.8,1.8,1.8,1.8H48c1,0,1.8-0.8,1.8-1.8v-48C49.8,1.5,49,0.7,48,0.7z  "/>
                                <path class="st0" d="M146.7,16.7h-5.3c-1,0-1.8,0.8-1.8,1.8v32c0,1,0.8,1.8,1.8,1.8h5.3c1,0,1.8-0.8,1.8-1.8v-32  C148.5,17.5,147.7,16.7,146.7,16.7z"/>
                                <path class="st0" d="M112,16.7h-4.4c-7.1,0-12.8,5.5-13.3,12.4h0v21.3c0,1,0.8,1.8,1.8,1.8h5.3c1,0,1.8-0.8,1.8-1.8V30.1  c0-2.5,2-4.4,4.4-4.4h4.4c1,0,1.8-0.8,1.8-1.8v-5.3C113.8,17.5,113,16.7,112,16.7z"/>
                                <path class="st0" d="M134.2,16.7h-4.4c-7.1,0-12.8,5.5-13.3,12.4h0v21.3c0,1,0.8,1.8,1.8,1.8h5.3c1,0,1.8-0.8,1.8-1.8V30.1  c0-2.5,2-4.4,4.4-4.4h4.4c1,0,1.8-0.8,1.8-1.8v-5.3C136,17.5,135.2,16.7,134.2,16.7z"/>
                                <path class="st0" d="M35.9,58.4l-6.1-3.7c-0.8-0.5-1.9,0.1-1.9,1.1v4.9c0,5-3.9,9.3-9,9.4c-5.2,0.1-9.5-4-9.5-9.2v-5.1  c0-1-1.1-1.6-1.9-1.1l-6.1,3.7c-0.5,0.3-0.9,0.9-0.9,1.5v0.7c0,10,7.9,18.2,17.9,18.4c10.1,0.1,18.3-8,18.3-18.1v-0.9  C36.8,59.3,36.5,58.7,35.9,58.4z"/>
                                <ellipse transform="matrix(0.9871 -0.1602 0.1602 0.9871 0.4407 23.1826)" class="st0" cx="144" cy="8.9" rx="4.8" ry="4.8"/>
                                </svg>
                        </a>
                    </div>
                    <div class="pxp-footer-section mt-3 mt-md-4">
                        <h3>Call us</h3>
                        <div class="pxp-footer-phone">(123) 456-7890</div>
                    </div>
                    <div class="mt-3 mt-md-4 pxp-footer-section">
                        <div class="pxp-footer-text">
                            90 Fifth Avenue, 3rd Floor<br>
                            San Francisco, CA 1980<br>
                            office@jobster.com
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-7 col-xxl-8">
                    <div class="row">
                        <div class="col-md-6 col-xl-4 col-xxl-3 mb-4">
                            <div class="pxp-footer-section">
                                <h3>For Candidates</h3>
                                <ul class="pxp-footer-list">
                                    <li><a href="jobs-list-1.html">Find Jobs</a></li>
                                    <li><a href="candidate-dashboard.html">Candidate Dashboard</a></li>
                                    <li><a href="candidate-dashboard-applications.html">My Applications</a></li>
                                    <li><a href="candidate-dashboard-fav-jobs.html">Favourite Jobs</a></li>
                                    <li><a href="candidate-dashboard-inbox.html">My inbox</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4 col-xxl-3 mb-4">
                            <div class="pxp-footer-section">
                                <h3>For Employers</h3>
                                <ul class="pxp-footer-list">
                                    <li><a href="candidates-list-1.html">Find Candidates</a></li>
                                    <li><a href="company-dashboard.html">Company Dashboard</a></li>
                                    <li><a href="company-dashboard-new-job.html">Post a Job</a></li>
                                    <li><a href="company-dashboard-jobs.html">Manage Jobs</a></li>
                                    <li><a href="company-dashboard-candidates.html">Candidates</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4 col-xxl-3 mb-4">
                            <div class="pxp-footer-section">
                                <h3>About Us</h3>
                                <ul class="pxp-footer-list">
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="pricing.html">Pricing</a></li>
                                    <li><a href="blog-list-1.html">Blog</a></li>
                                    <li><a href="blog-list-1.html">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4 col-xxl-3 mb-4">
                            <div class="pxp-footer-section">
                                <h3>Helpful Resources</h3>
                                <ul class="pxp-footer-list">
                                    <li><a href="faqs.html">FAQs</a></li>
                                    <li><a href="sign-in.html">Sign In</a></li>
                                    <li><a href="sign-up.html">Sign Up</a></li>
                                    <li><a href="404.html">404 Page</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pxp-main-footer-bottom" style="background-color: var(--pxpSecondaryColor);">
        <div class="pxp-container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-auto">
                    <div class="pxp-footer-copyright pxp-text-light">© 2022 Glorri,Inc. All Right Reserved.</div>
                </div>
                <div class="col-lg-auto">
                    <div class="pxp-footer-social mt-3 mt-lg-0">
                        <ul class="list-unstyled">
                            <li><a target="_blank" href="https://facebook.com/recruitingapp"><span class="fa fa-facebook"></span></a></li>
                            <!-- <li><a href="https://twitter.com/glorri"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="https://instagram.com/glorri"><span class="fa fa-instagram"></span></a></li> -->
                            <li><a target="_blank" href="https://linkedin.com/company/glorri/"><span class="fa fa-linkedin"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>