.pxp-jobs-list-single-column{
    height: calc(100vh -  200px);
    min-height: 400px;
    overflow: hidden;
    overflow-y: auto;
}

.filter-button{
    position: fixed;
    left: 300px;
    z-index: 1;
    &::before{
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            display: inline-block;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-right: 15px solid rgb(10 105 195);
            left: -8px;
            top: 3px;
    }
}
.pxp-jobs-card-4-details {
    i{
        position: relative;
        color: #5D5D61;
        top: 1px;

    }
    .pxp-jobs-card-4-location i{
        font-size:15px
    }
}
.pxp-jobs-card-4-company-logo {
    position: relative;
    &.withBorder{
        border: 1px solid;
    }
    span.icon{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 2em;
    }
}

.pxp-jobs-card-4.pxp-has-border:not(.active){
    .pxp-jobs-card-4-category{
        border-radius: 9px;
        padding: 10px;
        background: aliceblue;
    }
}
.job-detail{
    // height: 30vh;
    height: 60vh;
    min-height: 200px;
    padding-bottom: 200px;
    overflow-y: auto;
}