<header class="pxp-header fixed-top pxp-no-bg pxp-has-border">
    <div class="pxp-container">
        <div class="pxp-header-container">
            <div class="pxp-logo-nav-container">
                <div class="pxp-logo">
                    <a href="/" class="pxp-animate">
                        <svg width="100" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 149.5 79.1"
                            style="enable-background:new 0 0 149.5 79.1;" xml:space="preserve">
                            <style type="text/css">
                                .st0 {
                                    fill: #1384DA;
                                }
                            </style>
                            <path class="st0"
                                d="M18.7,16.4c-10,0-18.1,8.1-18.1,18.1c0,10,8.1,18.1,18.1,18.1c10,0,18.1-8.1,18.1-18.1  C36.8,24.5,28.7,16.4,18.7,16.4z M18.7,43.7c-5.1,0-9.2-4.1-9.2-9.2c0-5.1,4.1-9.2,9.2-9.2c5.1,0,9.2,4.1,9.2,9.2  C27.9,39.6,23.8,43.7,18.7,43.7z" />
                            <path class="st0"
                                d="M72,16.4c-10,0-18.1,8.1-18.1,18.1c0,10,8.1,18.1,18.1,18.1c10,0,18.1-8.1,18.1-18.1C90.1,24.5,82,16.4,72,16.4  z M72,43.7c-5.1,0-9.2-4.1-9.2-9.2c0-5.1,4.1-9.2,9.2-9.2c5.1,0,9.2,4.1,9.2,9.2C81.2,39.6,77.1,43.7,72,43.7z" />
                            <path class="st0"
                                d="M48,0.7h-5.3c-1,0-1.8,0.8-1.8,1.8v48c0,1,0.8,1.8,1.8,1.8H48c1,0,1.8-0.8,1.8-1.8v-48C49.8,1.5,49,0.7,48,0.7z  " />
                            <path class="st0"
                                d="M146.7,16.7h-5.3c-1,0-1.8,0.8-1.8,1.8v32c0,1,0.8,1.8,1.8,1.8h5.3c1,0,1.8-0.8,1.8-1.8v-32  C148.5,17.5,147.7,16.7,146.7,16.7z" />
                            <path class="st0"
                                d="M112,16.7h-4.4c-7.1,0-12.8,5.5-13.3,12.4h0v21.3c0,1,0.8,1.8,1.8,1.8h5.3c1,0,1.8-0.8,1.8-1.8V30.1  c0-2.5,2-4.4,4.4-4.4h4.4c1,0,1.8-0.8,1.8-1.8v-5.3C113.8,17.5,113,16.7,112,16.7z" />
                            <path class="st0"
                                d="M134.2,16.7h-4.4c-7.1,0-12.8,5.5-13.3,12.4h0v21.3c0,1,0.8,1.8,1.8,1.8h5.3c1,0,1.8-0.8,1.8-1.8V30.1  c0-2.5,2-4.4,4.4-4.4h4.4c1,0,1.8-0.8,1.8-1.8v-5.3C136,17.5,135.2,16.7,134.2,16.7z" />
                            <path class="st0"
                                d="M35.9,58.4l-6.1-3.7c-0.8-0.5-1.9,0.1-1.9,1.1v4.9c0,5-3.9,9.3-9,9.4c-5.2,0.1-9.5-4-9.5-9.2v-5.1  c0-1-1.1-1.6-1.9-1.1l-6.1,3.7c-0.5,0.3-0.9,0.9-0.9,1.5v0.7c0,10,7.9,18.2,17.9,18.4c10.1,0.1,18.3-8,18.3-18.1v-0.9  C36.8,59.3,36.5,58.7,35.9,58.4z" />
                            <ellipse transform="matrix(0.9871 -0.1602 0.1602 0.9871 0.4407 23.1826)" class="st0"
                                cx="144" cy="8.9" rx="4.8" ry="4.8" />
                        </svg>
                    </a>
                </div>
                <div class="pxp-nav-trigger navbar d-xl-none flex-fill">
                    <a role="button" data-bs-toggle="offcanvas" data-bs-target="#pxpMobileNav"
                        aria-controls="pxpMobileNav">
                        <div class="pxp-line-1"></div>
                        <div class="pxp-line-2"></div>
                        <div class="pxp-line-3"></div>
                    </a>
                    <div class="offcanvas offcanvas-start pxp-nav-mobile-container" tabindex="-1" id="pxpMobileNav">
                        <div class="offcanvas-header">
                            <div class="pxp-logo">
                                <a href="/" class="pxp-animate">
                                    <svg width="100" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px"
                                        y="0px" viewBox="0 0 149.5 79.1" style="enable-background:new 0 0 149.5 79.1;"
                                        xml:space="preserve">
                                        <style type="text/css">
                                            .st0 {
                                                fill: #1384DA;
                                            }
                                        </style>
                                        <path class="st0"
                                            d="M18.7,16.4c-10,0-18.1,8.1-18.1,18.1c0,10,8.1,18.1,18.1,18.1c10,0,18.1-8.1,18.1-18.1  C36.8,24.5,28.7,16.4,18.7,16.4z M18.7,43.7c-5.1,0-9.2-4.1-9.2-9.2c0-5.1,4.1-9.2,9.2-9.2c5.1,0,9.2,4.1,9.2,9.2  C27.9,39.6,23.8,43.7,18.7,43.7z" />
                                        <path class="st0"
                                            d="M72,16.4c-10,0-18.1,8.1-18.1,18.1c0,10,8.1,18.1,18.1,18.1c10,0,18.1-8.1,18.1-18.1C90.1,24.5,82,16.4,72,16.4  z M72,43.7c-5.1,0-9.2-4.1-9.2-9.2c0-5.1,4.1-9.2,9.2-9.2c5.1,0,9.2,4.1,9.2,9.2C81.2,39.6,77.1,43.7,72,43.7z" />
                                        <path class="st0"
                                            d="M48,0.7h-5.3c-1,0-1.8,0.8-1.8,1.8v48c0,1,0.8,1.8,1.8,1.8H48c1,0,1.8-0.8,1.8-1.8v-48C49.8,1.5,49,0.7,48,0.7z  " />
                                        <path class="st0"
                                            d="M146.7,16.7h-5.3c-1,0-1.8,0.8-1.8,1.8v32c0,1,0.8,1.8,1.8,1.8h5.3c1,0,1.8-0.8,1.8-1.8v-32  C148.5,17.5,147.7,16.7,146.7,16.7z" />
                                        <path class="st0"
                                            d="M112,16.7h-4.4c-7.1,0-12.8,5.5-13.3,12.4h0v21.3c0,1,0.8,1.8,1.8,1.8h5.3c1,0,1.8-0.8,1.8-1.8V30.1  c0-2.5,2-4.4,4.4-4.4h4.4c1,0,1.8-0.8,1.8-1.8v-5.3C113.8,17.5,113,16.7,112,16.7z" />
                                        <path class="st0"
                                            d="M134.2,16.7h-4.4c-7.1,0-12.8,5.5-13.3,12.4h0v21.3c0,1,0.8,1.8,1.8,1.8h5.3c1,0,1.8-0.8,1.8-1.8V30.1  c0-2.5,2-4.4,4.4-4.4h4.4c1,0,1.8-0.8,1.8-1.8v-5.3C136,17.5,135.2,16.7,134.2,16.7z" />
                                        <path class="st0"
                                            d="M35.9,58.4l-6.1-3.7c-0.8-0.5-1.9,0.1-1.9,1.1v4.9c0,5-3.9,9.3-9,9.4c-5.2,0.1-9.5-4-9.5-9.2v-5.1  c0-1-1.1-1.6-1.9-1.1l-6.1,3.7c-0.5,0.3-0.9,0.9-0.9,1.5v0.7c0,10,7.9,18.2,17.9,18.4c10.1,0.1,18.3-8,18.3-18.1v-0.9  C36.8,59.3,36.5,58.7,35.9,58.4z" />
                                        <ellipse transform="matrix(0.9871 -0.1602 0.1602 0.9871 0.4407 23.1826)"
                                            class="st0" cx="144" cy="8.9" rx="4.8" ry="4.8" />
                                    </svg>
                                </a>
                            </div>
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <nav class="pxp-nav-mobile">
                                <ul class="navbar-nav justify-content-end flex-grow-1">
                                    <!-- <li class="nav-item dropdown">
                                        <a role="button" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Home</a>
                                        <ul class="dropdown-menu">
                                            <li class="pxp-dropdown-header">Home Page Versions</li>
                                            <li class="nav-item"><a href="index.html">Hero with Animated Cards</a></li>
                                            <li class="nav-item"><a href="index-2.html">Center Image Rotator Hero</a></li>
                                            <li class="nav-item"><a href="index-3.html">Hero with Illustration</a></li>
                                            <li class="nav-item"><a href="index-4.html">Boxed Hero with Animation</a></li>
                                            <li class="nav-item"><a href="index-5.html">Full Image Background Hero</a></li>
                                            <li class="nav-item"><a href="index-6.html">Full Image with Top Search</a></li>
                                            <li class="nav-item"><a href="index-7.html">Hero With Image Card</a></li>
                                        </ul>
                                    </li> -->

                               
                                    <li class="nav-item dropdown">
                                        <a role="button" class="nav-link ">{{'header.jobs' | translate}}</a>
                                    </li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <nav class="pxp-nav dropdown-hover-all d-none d-xl-block">
                    <ul>
                        <li>
                            <!-- <a href="#">Home</a> -->
                            <div class="me-3">
                                <ng-container >
                                    <b class="mb-3">
                                        <strong class="font-negreta">12</strong> {{'header.jobOpenings2' | translate}}
                                    </b>
                                </ng-container>
                                <!-- <ng-template #aVacantion>
                                    <b class="mb-3">
                                        <strong>12</strong> {{'header.jobOpenings3' | translate}}
                                    </b>
                                </ng-template> -->
                            </div>
                        </li>

                    </ul>
                </nav>
            </div>
            <nav class="pxp-user-nav pxp-on-light">
              
                <a href="https://atsapp.glorri.com/user/login/company" target="_blank"
                    class="btn rounded-pill pxp-nav-btn">{{'header.signupem' | translate}}</a>
                <!-- <div class="dropdown pxp-user-nav-dropdown">
                    <a href="index.html" class="dropdown-toggle" data-bs-toggle="dropdown">
                        <div class="pxp-user-nav-avatar pxp-cover" style="background-image: url(assets/images/ph-small.jpg);"></div>
                        <div class="pxp-user-nav-name d-none d-md-block">Derek Cotner</div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="candidate-dashboard.html">Dashboard</a></li>
                        <li><a class="dropdown-item" href="candidate-dashboard-profile.html">Edit profile</a></li>
                        <li><a class="dropdown-item" href="index.html">Logout</a></li>
                    </ul>
                </div> -->
            </nav>
        </div>
    </div>
</header>