@import "~@ng-select/ng-select/themes/default.theme.css";
@import "./assets/icons/css/_icon.css";

.glorri-button{
    background-color:#0969c3!important;
    color: #fff!important;
    box-shadow: 0 3px 3px #00000032;
}

.ng-select .ng-select-container {
   border:none;
}